/* .Whatsapp {
    
    padding: 25px;
    text-align: center;
    color: #FFF;
    background-color: #25D366;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
}

.Whatsapp::before {
    
    padding: 0 10px;
    content: url('/whatsapp.png');

} */

.BtnLink{
    color: #000;
    background-color: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 50px 114px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}